{% extends "layout.html" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-2 text-center mb-4">
            <img class="img-fluid" src="{{anime_data.url_img}}">
        </div>
        <div class="col-lg-10 mb-4">
            <h1 class="text-center text-lg-start">{{anime_data.name}}</h1>
            <div class="details mb-4">
                <div class="row align-items-center border rounded shadow-lg p-3 m-0">
                    <div class="col-lg-2 mb-3 m-lg-0">
                        <div class="details__score text-center border-end">
                            <div class="details__score__name badge text-bg-light">Score</div>
                            <div class="details__score__value fs-2">{{anime_data.score}}</div>
                            <div class="details__score__users">{{anime_data.scored_by}} users</div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3 m-lg-0">
                        <ul class="list-unstyled d-flex justify-content-evenly m-0 text-center details__list">
                            <li class="details__item">
                                <span class="details__name">Ranked</span>
                                <span class="details__value fw-semibold">#{{anime_data.rank}}</span>
                            </li>
                            <li class="details__item">
                                <span class="details__name">Popularity</span>
                                <span class="details__value fw-semibold">#{{anime_data.popularity}}</span>
                            </li>
                            {% if anime_data.type == "Movie" %}
                            <p>{{anime_data.type}}: {{anime_data.duration}}</p>
                            {% elif anime_data.type == "TV" %}
                            <p>{{anime_data.type}} - {{anime_data.episodes}} episodes - {{anime_data.duration}}</p>
                            {% endif %}
                            <li class="details__item">
                                <span class="details__name">Members</span>
                                <span class="details__value fw-semibold">{{anime_data.members}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 text-center">
                        <div class="details__trailer">
                            {% if anime_data.trailer %}
                            <iframe src="{{anime_data.trailer}}" frameborder="0" allowfullscreen></iframe>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="synopsis mb-4">
                <span class="fw-semibold d-block mb-2">Synopsis</span>
                <p>{{anime_data.synopsis}}</p>
            </div>
            <div class="more-info text-center mb-5">
                <a class="btn btn-light" href="{{anime_data.more_info}}" role="button">More info</a>
            </div>
            <div class="sliders mb-4">
                <!-- <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true"></div> -->
                <div id="carouselExampleIndicators" class="carousel slide">
                    <!-- <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div> -->
                    <div class="carousel-inner">
                        {% for element in anime_data.pictures %}
                        <div class="carousel-item{% if loop.first %} active{% endif %}">
                            <img src="{{ element }}" class="d-block mx-auto" alt="...">
                        </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}