{% extends "layout.html" %}

{% block body %}


<div class="container">
    <div class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4">
        {% if anime_list|length == 0 %}
        <p>Result not found</p>
        {% else %}
        {% for anime in anime_list %}
        <div class="col">
            <div class="card h-100">
                <a href="{{anime.url_anime}}" class="text-decoration-none link-dark">
                    <img src="{{anime.url_img}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2 class="card-title h5 text-center m-0">{{anime.name}}</h2>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>



{% endblock %}